@charset "UTF-8";

/* Imports Gotham fonts */
@font-face {
    font-family: 'Gotham';
    src: local('Gotham-Light'),
        url('subset-Gotham-Light.woff2') format('woff2'),
        url('subset-Gotham-Light.woff') format('woff'),
        url('subset-Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham-Medium'),
        url('subset-Gotham-Medium.woff2') format('woff2'),
        url('subset-Gotham-Medium.woff') format('woff'),
        url('subset-Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/*
box-sizing: border-box allows adding padding without increasing size
https://css-tricks.com/box-sizing/

backup font
*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* sets default colors, use by typing "var(--colorname)" */
:root {
  --purple: #4b2e83;
  --gold: #b7a57a;
  --grey: #444444;
}

body {
  display: grid;
  grid-template-rows: 10vh 90vh;
  grid-template-columns: 1fr;
  height: 100vh;
  font-family: Gotham, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 300;
  overflow: hidden;
}

a {
  text-decoration: none;
}

/* navbar */
nav {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 3vw 1fr 4fr 3fr 3vw;
  box-shadow: 0 0 8px var(--grey);
  background-color: white;
  z-index: 2;
}

nav a {
  color: var(--grey);
  display: block;
  font-size: calc((2 / 300) * 100vw + 12px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  grid-column: 2 / 3;
  font-size: calc((2 / 300) * 100vw + 16px);
}

.home span {
  color: var(--purple);
}

.navbar {
  grid-column: 4 / 5;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(4, auto);
}

.navbar li{
  grid-column: span 1;
  display: inline-block;
}

.navbar a {
  width: 100%;
  height: 100%;
  transition: 0.25s ease-in-out;
}

nav li:hover a {
  color: white;
  background-color: var(--purple);
}

/* dropdown */
.dropbtn {
  position: relative;
}

.dropdown {
  list-style: none;
  display: grid;
  visibility: hidden;
  opacity: 0;
  padding: 6px;
  grid-template-rows: repeat(5, minmax(6vh, 1fr));
  grid-template-columns: auto;
  position: absolute;
  min-width: 14vw;
  background-color: var(--purple);
  z-index: 1;
  transition-property: opacity, visibility;
  transition-duration: .4s, 0s;
  transition-delay: 0s, .4s;
}

.dropdown li {
  grid-column: 1 / -1;
  grid-row: span 1;
}

.dropdown li a {
  display: block;
  color: white;
  padding: 0 1.5vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

.dropbtn:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s, 0s;
}

.dropdown li:hover a {
  filter: brightness(150%);
}

/* hamburger initially hidden */
.hamburger {
  display: none;
}

/* main page content */
main {
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 3vw repeat(3, 1fr) repeat(2, 2fr 1fr) 5fr 2fr 8fr 3vw;
  grid-template-rows: 3fr repeat(4, 1fr) 3fr 3fr repeat(3, 1fr);
}

.dfais {
  grid-row: 2 / 3;
  grid-column: 5 / 8;
  color: var(--purple);
  font-size: calc((2 / 300) * 100vw + 12px);
  white-space: nowrap;
  overflow: hidden;
}

.word {
  -webkit-text-stroke: 1px var(--gold);
  -webkit-text-fill-color: rgba(255,255,255,0.0);
  font-size: calc((8 / 300) * 100vw + 20px);
  position: relative;
}

.word1 {
  grid-row: 3 / 6;
  grid-column: 1 / 8;
}

.word1 h1 {
  position: absolute;
  left: -2vw;
}

.word2 {
  grid-row: 6 / 7;
  grid-column: 3 / 10;
  text-align: right;
}

.word2 h1 {
  position: absolute;
  left: 6vw;
}

.desc {
  grid-row: 7 / 9;
  grid-column: 5 / 9;
  color: var(--purple);
  font-size: calc((2 / 300) * 100vw + 6px);
}

.desc a {
  font-style: italic;
  color: inherit;
  padding-bottom: 5px;
  border-bottom: 5px solid var(--purple);
}

.desc a:hover {
  display: inline-block;
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
}

.photo1 {
  grid-row: 1 / 6;
  grid-column: 8 / 11;
}

.photo2 {
  grid-row: 5 / 10;
  grid-column: 10 / 12;
}

.photo {
  overflow: hidden;
  animation: float 6s ease-in-out infinite;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  grid-row: 8 / -1;
  grid-column: 2 / 4;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 75%;
  height: 75%;
  transition: 0.25s ease-in-out;
}

.logo:hover img{
  filter: brightness(150%);
}

.logo:hover footer {
  display: block;
  animation: fadeInUp 1s;
}

footer {
  display: none;
  position: absolute;
  left: 8vw;
  bottom: 4vh;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  font-size: calc((1 / 300) * 100vw + 6px);
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 15px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

/* responsive resizing media queries */
@media screen  and (max-width: 979px) /* Tablet */ {
  .photo1 {
    grid-row: 7 / 10;
    grid-column: 10 / 12;
  }

  .photo2 {
    grid-row: 1 / 6;
    grid-column: 9 / 12;
  }

  nav {
    grid-template-columns: 3vw 1fr 3fr 4fr 3vw;
  }
}

@media screen and (max-width: 579px) /* Mobile */ {
  .photo1 {
    grid-row: 1 / 3;
    grid-column: 9 / 12;
  }

  .photo2 {
    grid-row: 7 / 10;
    grid-column: 2 / 10;
  }

  .desc {
    grid-column: 11 / 12;
  }

  .logo {
    grid-row: 3 / 6;
    grid-column: 11 / 12;
  }

  .logo:hover footer {
    display: none;
  }

  .dfais {
    grid-column: 2 / 8;
  }

  nav {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    grid-template-columns: 3vw 2fr 5fr 1fr 3vw;
    grid-template-rows: 10vh;
    grid-auto-rows: 90vh;
  }

  nav a {
    font-size: calc((2 / 300) * 100vw + 16px);
  }

  .navbar {
    display: grid;
    visibility: hidden;
    opacity: 0;
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    background-color: var(--purple);
    padding: 6px;
    grid-gap: 6px;
    transition-property: opacity, visibility;
    transition-duration: .4s, 0s;
    transition-delay: 0s, .4s;
  }

  .navbar li {
    grid-row: span 1;
  }

  .navbar a {
    color: white;
  }

  .navbar li:hover a {
    filter:brightness(150%);
  }

  .dropbtn:hover .dropdown{
    display: none;
  }

  .hamburger {
    display: block;
    grid-column: 4 / 5;
  }

  .visible {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s, 0s;
  }
}

/* hamburger menu

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

*/
