@charset "UTF-8";

/* Imports Gotham fonts */
@font-face {
    font-family: 'Gotham';
    src: local('Gotham-Light'),
        url('../fonts/subset-Gotham-Light.woff2') format('woff2'),
        url('../fonts/subset-Gotham-Light.woff') format('woff'),
        url('../fonts/subset-Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham-Medium'),
        url('../fonts/subset-Gotham-Medium.woff2') format('woff2'),
        url('../fonts/subset-Gotham-Medium.woff') format('woff'),
        url('../fonts/subset-Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham-Bold'),
        url('../fonts/subset-Gotham-Bold.woff2') format('woff2'),
        url('../fonts/subset-Gotham-Bold.woff') format('woff'),
        url('../fonts/subset-Gotham-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/*
box-sizing: border-box allows adding padding without increasing size
https://css-tricks.com/box-sizing/

backup font
*/
html {
  box-sizing: border-box;
  /*font-size: 10px;  base size for fluid type */
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* sets default colors, use by typing "var(--colorname)" */
:root {
  --purple: #4b2e83;
  --gold: #b7a57a;
  --grey: #444444;
}

/* other defaults */
body {
  display: grid;
  grid-template-rows: 10vh 90vh;
  grid-template-columns: 1fr;
  height: 100vh;
  font-family: Gotham, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 300;
  overflow: hidden;
}

a {
  text-decoration: none;
}

/* Type defaults */
h1 {
  font-size: calc((18 / 300) * 100vw + 30px);
}

h2 {
  font-size: calc((8 / 300) * 100vw + 20px);
}

h3 {
  font-size: calc((4 / 300) * 100vw + 14px);
}

h4 {
  font-size: calc((2 / 300) * 100vw + 12px);
}

h5 {
  font-size: calc((2 / 300) * 100vw + 8px);
}

p {
  font-size: calc((2 / 300) * 100vw + 12px);
}

small {
  font-size: calc((2 / 300) * 100vw + 6px);
}

footer {
  font-size: calc((1 / 300) * 100vw + 6px);
}

/*
Fluid type
https://www.madebymike.com.au/writing/fluid-type-calc-examples/
needs some work

h1, h2, h3, h4, h5, p {
  line-height: 1.2;
}

h1 {
  font-size: 5.063em;
}

h2 {
  font-size: 3.157em;
}

h3 {
  font-size: 2.369em;
}

h4 {
  font-size: 1.777em;
}

h5 {
  font-size: 1.333em;
}

small, .font_small, footer {
  font-size: 0.75em;
}

p {
  margin-bottom: 1.3em;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(10px + 6 * ((100vw - 320px) / 960));
  }

  h1, h2, h3, h4, h5, p {
    line-height: calc(1.2em + 0.6 * ((100vw - 20em) / 60));
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 16px;
  }

  h1, h2, h3, h4, h5, p {
    line-height: line-height: 1.8em;
  }
}
*/

/* image styling */
.photo {
  overflow: hidden;
  animation: float 6s ease-in-out infinite;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 15px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

/* navbar */
nav {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: grid;
  /* grid-template-columns: 3vw 1fr 4fr 3fr 3vw; */
  box-shadow: 0 0 8px var(--grey);
  background-color: white;
  z-index: 2;
}

nav a {
  color: var(--grey);
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  grid-column: 2 / 3;
}

.home span {
  color: var(--purple);
}

.home h3 {
  text-transform: uppercase;
  letter-spacing: 0.0625em;
}
/*
.navbar {
  grid-column: 4 / 5;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(4, auto);
}
*/
.navbar li{
  grid-column: span 1;
  display: inline-block;
}

.navbar a {
  width: 100%;
  height: 100%;
  transition: 0.25s ease-in-out;
  position: relative;
}

nav li:hover a, .active {
  color: white;
  background-color: var(--purple);
}

/*
link underline effect:
http://tobiasahlin.com/blog/css-trick-animating-link-underlines/
*/
.navbar a::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 15px;
  left: 25%;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav li:hover a::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* dropdown */
.dropbtn {
  position: relative;
}

.dropdown {
  list-style: none;
  display: grid;
  visibility: hidden;
  opacity: 0;
  padding: 6px;
  grid-template-rows: repeat(5, minmax(6vh, 1fr));
  grid-template-columns: auto;
  position: absolute;
  min-width: 14vw;
  background-color: var(--purple);
  z-index: 1;
  transition-property: opacity, visibility;
  transition-duration: .4s, 0s;
  transition-delay: 0s, .4s;
}

.dropdown li {
  grid-column: 1 / -1;
  grid-row: span 1;
}

.dropdown li a {
  display: block;
  color: white;
  padding: 0 1.5vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}

.dropbtn:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s, 0s;
}

.dropdown li:hover a {
  filter: brightness(150%);
}

/* hamburger initially hidden */
.hamburger {
  display: none;
}

/* responsive resizing media queries */
@media screen  and (max-width: 979px) /* Tablet */ {
  nav {
    grid-template-columns: 3vw 1fr 3fr 4fr 3vw;
  }
}

@media screen and (max-width: 579px) /* Mobile */ {
  nav {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    grid-template-columns: 3vw 2fr 5fr 1fr 3vw;
    grid-template-rows: 10vh;
    grid-auto-rows: 90vh;
  }

  .navbar {
    display: grid;
    visibility: hidden;
    opacity: 0;
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    background-color: var(--purple);
    padding: 6px;
    grid-gap: 6px;
    transition-property: opacity, visibility;
    transition-duration: .4s, 0s;
    transition-delay: 0s, .4s;
  }

  .navbar li {
    grid-row: span 1;
  }

  .navbar a {
    color: white;
  }

  .navbar li:hover a {
    filter: brightness(150%);
  }

  .dropbtn:hover .dropdown{
    display: none;
  }

  .hamburger {
    display: block;
    grid-column: 4 / 5;
  }

  .visible {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s, 0s;
  }
}
