@charset "UTF-8";

@font-face {
    font-family: 'Gotham';
    src: local('Gotham-Medium'),
        url('subset-Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: local('Gotham-Light'),
        url('subset-Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

.purple {
  color: #4b2e83;
}

.gold {
  color: #b7a57a;
}

body {
  font-family: Gotham, sans-serif;
  font-weight: 300;
  margin: 0;
}

main {
  background: linear-gradient(0deg, #b7a57a, #4b2e83);
  background-size: 400% 400%;
  min-height: 50vw;
  text-align: center;
  color: white;
  display: grid;
  animation: gradient 9s ease infinite;
}

@keyframes gradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

main>section {
  margin: auto;
}

span {
  color: black;
}

footer {
  padding: 2vw;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

.topnav {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 1vw 1.5vw;
  transition: 0.25s ease-in-out;
  font-weight: 500;
}

#home a {
  color: #4b2e83;
  font-size: 18pt;
  padding: 0.6vw 1.5vw;
}

.topnav a:hover {
  color: white;
  background-color: #4b2e83;
}

p a {
  text-decoration: none;
  color: white;
  transition: 0.25s ease-in-out;
}

p a:hover {
  color: #4b2e83;
  background-color: white;
}

/*
nav {
  margin: 0;
  padding: 0;

}

nav a {
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 1vw 1.5vw;
  transition: 0.25s ease-in-out;
  font-weight: 500;
}

#home {
  color: #4b2e83;
  font-size: 18pt;
  padding: 0.6vw 1.5vw;
}
*/
